<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'Simple_calculator/style.css' %}">
    <script src="{% static 'Simple_calculator/calculation.js' %}" defer></script>
</head>
<body>
    <div class="calculator">
        <h1>Simple Calculator</h1>
        <form method="POST">
            {% csrf_token %}
            <!--ช่องสำหรับใส่ตัวเลข-->
            <input type="number" id="num1" 
            placeholder="Enter first number" required><br>
            <input type="number" id="num2" placeholder="Enter second number" required><br>
            <!--ปุ่มกดสำหรับกดคำนวน class="operation" , value = ทำงานร่วมกับ calculation.js เพื่อให้รู้ว่าเป็นปุ่มเดียวกัน และ value ใช้ในการเลือกการำนวน-->
            <button type="button" class="operation" value="add">+</button>
            <button type="button" class="operation" value="subtract">-</button>
            <button type="button" class="operation" value="multiply">×</button>
            <button type="button" class="operation" value="divide">÷</button>
        </form>
        <div class="result-box" id="result-box">
            <!-- Result will be dynamically inserted here -->
        </div>
    </div>
    
</body>
</html>
